
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  background: #0A141F;
  color:#fff;
  font-family: 'Poppins', sans-serif;
}

li{
  list-style:none;
}
a{
  text-decoration: none;
  color:#FFFFFF;
}